h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
body {
    margin: 50px;
}

.container1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

#container {
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    background-color: #FFC0CB;
}

@keyframes RPS {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

#webcam {
    height: 375px;
    width: 500px;
    background-color:  #8AAAE5;
    border: 5px solid #333333;
    border-radius: 10px;
    justify-self: center;
    grid-column: span 3;
}

button{
    width: 50%;
    height: 40px;
    justify-self: center;
}

.rockButton {
    height: 55%;
    justify-self: center;
}

.paperButton {
    height: 65%;
    justify-self: center;
}

.scissorsButton {
    height: 60%;
    justify-self: center;
}

#predictionDisplay{
    justify-self: center;
}

/* .hide{
    display: none;
} */

.animation {
    justify-self: center;

}

.canvas{
    display: none;
    justify-self: center;
}
