h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
body {
    margin: 50px;
}

#container {
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    background-color: #FFC0CB;
}

#webcam {
    height: 375px;
    width: 500px;
    background-color:  #8AAAE5;
    border: 5px solid #333333;
    border-radius: 10px;
    justify-self: center;
    grid-column: span 3;
}

button{
    width: 50%;
    height: 40px;
    justify-self: center;
}

.rockButton {
    height: 55%;
    justify-self: center;
}

.paperButton {
    height: 65%;
    justify-self: center;
}

.scissorsButton {
    height: 60%;
    justify-self: center;
}

.canvas{
    display: none;
    justify-self: center;
}
